<!DOCTYPE html>
<html>
  <head>
    <title>Practice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-top">
        <h1 class="heading">
          <a href="http://parentingharu.work/">Prenting</a>
        </h1>
      </div>
      <div class="header-bottom">
        <nav>
          <ul class="nav-list">
            <li class="nav-list-item">
              <a href="http://parentingharu.work/">Home</a>
            </li>
            <li class="nav-list-item">About</li>
            <li class="nav-list-item">Topic</li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="footer-text">
        welcome to parenting
      </div>
    </footer>
  </body>
</html>
